body {
    background-image: url(./aSSets/topography.png);
    font-family: 'Courier Prime', monospace;
}

nav {
    background-color:#333333;
    height: 60px;
}

ul {
    list-style-type: none;
    overflow: hidden;
    float: right;
}

li{
    float: right;
}

 img {
     float: left;
     padding-left: 130px;
     padding-top: 15px;
 }
  
li a {
    display: block;
    color:#ff0099;
    text-align: center;
    padding-top: 8px;
    padding-right: 30px;
    text-transform: uppercase;
}

ul {
      padding-right: 10%;
}

article, header {
      padding-left: 10%;
      padding-right: 10%;
      margin-top: 60px;
}

.intro h3 {
    color: #ff0099;
    margin-top: 30px;
}

h1 {
    font-size: 30px;
}

hr {
    width: 40px;
    border-top: 2px black dashed;
    margin-top: 40px;
}

p {
    line-height: 30px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.wiki h2 {
    text-align: center;
}

.wiki h3 {
    padding-top: 40px;
}